{{#if userInSession}}
  <h3>Welcome, {{userInSession.firstName}}</h3>

  {{! <button> <a href="/auth/profile"> Reload! </a></button> }}

  {{#if_eq userInSession.userType "admin"}}

    <button class="btn btn-outline-primary">
      <a href="/personal-info/{{userInSession._id}}">
        Personal Info
      </a>
    </button>

    <button class="btn btn-outline-primary">
      <a href="/roles">
        Manage and assign roles
      </a>
    </button>

    <button class="btn btn-outline-primary">
      <a href="/users-list">
        List of Users
      </a>
    </button>
  {{/if_eq}}

  {{#if_eq userInSession.userType "preparer"}}
    <button class="btn btn-outline-primary">
      <a href="/personal-info/{{userInSession._id}}">
        Personal Info
      </a>
    </button>

    <button class="btn btn-outline-primary">
      <a href="/users-list">
        List of Users
      </a>
    </button>

  {{/if_eq}}

  {{#if_eq userInSession.userType "user"}}
    <button class="btn btn-outline-primary">
      <a href="/personal-info/{{userInSession._id}}">
        Personal Info
      </a>
    </button>

    {{#if userInSession.forms}}
      
 <button class="btn btn-outline-primary">
        <a href="/tax-info/{{#index_of userInSession.forms}}{{/index_of}}">
          Form Details
        </a>
      </button>
     

    {{/if}}

    <button class="btn btn-outline-primary">
      <a href="/new-form/{{userInSession._id}}">
        New Form
      </a>
    </button>
  {{/if_eq}}

{{else}}

  <p>There is no one in the session</p>

{{/if}}