<h2> {{firstName}}'s Personal Info </h2>

<h6>

  First Name:
  {{firstName}}
  <br />
  Last Name:
  {{lastName}}
  <br />
  Email:
  {{email}}
  <br />
  Date of Birth:
  {{birthday}}
  <br />
  Address:
  {{address}}
  <br />
  <br />
  Most recent submitted form:

</h6>