<h2> {{firstName}}'s Personal Info </h2>

<h6>

  First Name:
  {{firstName}}
  <br />
  Last Name:
  {{lastName}}
  <br />
  Email:
  {{email}}
  <br />
  Date of Birth:
  {{birthday}}
  <br />
  Address:
  {{address}}
  <br />
  <br />
  Most recent submitted form:

  {{#if forms}}
    {{#each forms}}
      <br />
      <a href="/tax-info/{{_id}}">
        Click here for the most recent form's details.
      </a>
    {{/each}}
  {{else}}
    <br />
    There are no past forms submitted.
  {{/if}}

</h6>

<button class="btn btn-outline-primary" onclick="history.back()">Go Back</button>