<h2> {{firstName}}'s Details </h2>

<h6>

  First Name:
  {{firstName}}
  <br />
  Last Name:
  {{lastName}}
  <br />
  <form action="/user-role/{{_id}}" method="POST">
    <label for="userType">
      User Type:
    </label>
    <select name="userType" class="btn btn-info dropdown-toggle">
      <option value=" selected disabled hidden">Choose here</option>
      <option value="user">user</option>
      <option value="preparer">preparer</option>
      <option value="admin">admin</option>
    </select>
    <input  class="btn btn-outline-primary" type="submit" />
  </form>
  <br />
  Email:
  {{email}}
  <br />
  Date of Birth:
  {{birthday}}
  <br />
  Address:
  {{address}}
  <br />

  {{#if_eq userType "user"}}

    <br />
    Most recent submitted form:

    {{#if forms}}
      {{#each forms}}
        <br />
        <a href="/tax-info/{{_id}}">
          Click here for the most recent form's details.
        </a>
      {{/each}}
    {{else}}
      <br />
      There are no past forms submitted.
    {{/if}}

  {{/if_eq}}

</h6>

<button class="btn btn-outline-primary" onclick="history.back()">Go Back</button>