<h2> Personal Information </h2>

<form action="/personal-info/{{userInfo._id}}" method="post">
  <label>
    First Name:
    <input type="text" name="firstName" value="{{userInfo.firstName}}" />
  </label>
  <br />
  <label>
    Last Name:
    <input type="text" name="lastName" value="{{userInfo.lastName}}" />
  </label>
  <br />
  <label>
    Date of Birth:
    <input type="date" name="birthday" value="{{userInfo.birthday}}" />
  </label>
  <br />
  <label>
    Address:
    <input type="text" name="address" value="{{userInfo.address}}" />

  </label>
  <button class="btn btn-info">
    Save
  </button>
</form>

<button class="btn btn-outline-primary" onclick="history.back()">Go Back</button>